extends ../includes/layout

block content
  .post-header
    h2= title
    code.subtitle= formatDate(date)
  include:md ###FILENAME###
  #disqus_thread

block append scripts
  -
    const article = {
      '@context': 'https://schema.org',
      '@type': 'NewsArticle',
      headline: title,
      datePublished: date,
      author: {
        '@type': 'Person',
        name: 'TJ Mazeika',
        url: '/',
      },
    };
  script(type='application/ld+json')!= JSON.stringify(article)
  script.
    const disqus_config = function() {
      this.page.url = 'https://mazeika.me/blog/#{slug}.html';
      this.page.identifier = '#{slug}';
    };
  script(src='https://mazeika-me.disqus.com/embed.js' data-timestamp=new Date().valueOf())
